body{
  margin: 0px;
  padding: 0px;
}

nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  flex-wrap: nowrap;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0px;
  margin-right: 0px;
  color: #86140d;
  background-color: yellow;
  font-size: 15px;
}