.top-container{
  position: relative;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.rocket{
  width:30%;
  height: 30%;
}

.textunicorns{
  color: #FFFD61,
}

.connectext{
  color:white,
}

.button-landing{
  background-color:red;
  margin: 10px;
  padding: 1rem;
  border-radius: 0.3rem;
}

.top-container{
  background: url(./../../../img-for-landing/galaxy.png);
  height: 700px;
  width: 100%;
  position: relative;
  background-size: 100% 700px;
  background-repeat: no-repeat;
  background-position: contain;
  justify-items: top;
  align-items: center;
  font-size: 3.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #FFFD61;
  

}

.howitworkscontainer{
  width: 80%;
  background-color:#5992E1;
  justify-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 3.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.desclanding{
  width: 40%;
  padding-top: Opx;
  margin-top: Opx;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top:100px;
}
